.Home {
   width: 100%;
   background-color: var(--color-bg);
   color: white;
}

.Home footer {
   margin-top: 100px;
   width: 100%;
   height: auto;
   padding: 0 10px 40px 10px;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 15px;
}

.Home a {
   color: var(--color-01);
   cursor: pointer;
   transition: all .4s;
}

.Home a:hover {
   color: var(--color-02);
   cursor: pointer;
   transition: all .4s;
}

@media (max-width: 390px) {
   br {
      display: none;
   }
}