.Links, .Links ul {
   list-style: none;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
}

.Links ul.column {
   flex-direction: column;
   gap: 40px;
}

.Links a, .Links li {
   color: white;
   text-decoration: none;
   font-size: 1.02rem;
   cursor: pointer;
   transition: all .4s;
}

.Links a:hover, .Links li:hover {
   color: var(--color-02);
   cursor: pointer;
   transition: all .4s;
}