@charset "UTF-8";

:root {
   --color-01: #8D44F2;
   --color-02: #34D2EF;
   --color-03: #3F0540;
   --color-04: #220426;
   --color-dark: #0A0A0D;

   --font-default: 'Montserrat', Arial, sans-serif;
}

* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

body, .root {
   width: 100%;
   height: auto;
   font-family: var(--font-default);
}