.Accordion {
   width: 100%;
   transition: all .4s;
}

.Accordion .title-section {
   width: 100%;
   padding: 15px 20px;
   background-color: #2f2c2cd7;
   border-radius: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   cursor: pointer;
   transition: all .4s;
}
.Accordion .title-section:hover {
   background-color: #211f1fd7;
}

.Accordion .paragraph-section {
   margin-top: 10px;
   padding: 0 20px 10px 20px;
   transition: all .4s;
}